.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--bg-color);
}

header{
  padding: 2rem 2.5rem;
}

.heading{
  font-family: Karmatic-Arcade;
  font-size: 2.5rem;
  text-align: center;
}

.pane{
  background-color: var(--secondary-bg-color);
}

footer{
  height: 100px;
  display: grid;
  place-items: center;
  background-color: var(--footer-bg-color);
}

.footer-text{
  font-size: 0.75rem;
}